body {
    background-color: lightgray;
    margin: 3vmin;
}

.inline-flex {
    display: inline-flex;
}

.form-group {
    margin-bottom: 2vh;
}

#test-string {
    width: 50vmax;
    height: 20vmax;
}
